/*
- [ ] UI/UX considerations (how are we going to use this)

nice contrasting color pallet
a form that doenst look like its from a circa 2001 webpage


advanced content
state changing styling
*/

/*
	FLEXBOX CONTAINER
	guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.logo_container{
	background-color:white;
	display:flex;
	flex-direction: column;
}

.container {
	display: flex;
	/* justify-content: center; */
	padding: 20px;
	justify-content: center;
	align-items: center;
	position : relative;
	flex-direction:row;

}

/*
	TABLE STYLING 
*/
table {
	width: 400px;
	margin-left: 30px;
	margin-top:20px;
	border:none;
}




/*
	FORM STYLING 
	TODO: validation checking styling 
*/
form.form {
}

div.form {
}

label, input {
    margin-bottom: 10px;
	width: 125px;
	border-radius: 4px;
	border: 3px solid lightblue;
}

label {
	display: inline-block;
    padding-right: 10px;
    width: 80px;

}

button.button {
	margin-right: 20px;
}

.title{
	display:flex;
	justify-content: center;
}

body{
	background-color:#f6f6f6!important;
}

#statusLabel{
	margin-top: 10px;
	position : relative;
	top:250px;
	left:150px;	
}

element.style {
    padding-top: 3%;
    padding-bottom: 5%;
}

tr:hover{
	background-color:beige;
}

table thead th{
	color:rgba(39, 165, 39, 0.952);
}